/* Estilos generales */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo oscuro */
    color: #f1f1f1;
}

/*Estilos notificacion */

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    color: #fff;
    opacity: 0.9;
    transition: opacity 0.5s;
}
.notification.success {
    background-color: #4caf50;
}
.notification.warning {
    background-color: #ff9800;
}
.notification.error {
    background-color: #f44336;
}
.notification:hover {
    opacity: 1;
}

table tr td[colspan="5"] {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

@keyframes fadeout {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

nav {
    background-color: #7BC9E2;
    overflow: hidden;
    height: 60px;
  }

  .collapsed {
    width: 80px; /* Ancho contraído de la barra lateral */
  }

  .container {
    position: relative;
    padding-top: 60px; /* Ajusta el padding para evitar que el contenido se superponga con el navbar */
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr; /* El sidebar ocupa el ancho automático y el contenido ocupa el resto del espacio */
    grid-gap: 20px; /* Espacio entre el sidebar y el contenido */
  }

  .navbar {
    background-color: #7BC9E2;
    width: 130%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1; /* Asegura que el navbar esté por encima del contenido */
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #777777;
    padding: 20px;
    color: white;
    z-index: 1;
    text-align: center;
  }

  .logo {
    vertical-align:middle;
    border-style: none;
    max-width: 160px;
    margin-left:10px;
}

  .sidebar {
    position: fixed;
    top: 0px; /* Altura del navbar */
    bottom: 0;
    left: 0;
    width: 250px;
    z-index: 1;
    background-color: #777777;
    padding-top: 20px;
    overflow-y: auto;
    padding: 20px;
  }

  .sidebar .list-unstyled li a {
    padding: 20px 1px;
    display: block;
    color: #c8c9ce;
    text-decoration: none;
    font-size: 17px;
}

.sidebar .list-unstyled li a i {
    margin-right: 10px;
    color: #fff;
}

.sidebar .list-unstyled li a i {
    margin-right: 10px;
    color: #fff; /* Color blanco para los iconos */
}

.sidebar-divider {
    border-top: 1px solid #fff; /* Línea blanca entre categorías */
}

.sidebar-header {
    padding: 10px 15px;
    background-color: #777777;
    border-bottom: 1px solid #ccc; /* Add a border to the bottom of the sidebar header */
    padding: 10px 0; /* Add padding to the sidebar header */
    text-align:justify ;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px 0;
    color: #e0e0e0;
}

h1 {
    color: #00b050;
    margin: 0;
    padding: 10px 0;
}

/* Estilos para la sección principal */
.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.seccion-izquierda,
.seccion-derecha {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para la sección izquierda */
.seccion-izquierda {
    width: 100%;
    max-width: 300px;
    background-color: #2b2b2b;
    margin-bottom: 20px;
}

/* Estilos para la sección derecha */
.seccion-derecha {
    flex: 1;
    background-color: #2b2b2b;
}

/* Estilos para los grupos de inputs */
.grupo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #cecece;
    color: #000000;
}

.grupo-columns {
    display: contents;
    gap: 20px;
}

.grupo-columna {
    flex: 1;
}

/* Estilos para los botones */
.botones {
    text-align: right;
}

.botones button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #00b050;
    color: #121212;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones button:hover {
    background-color: #acecbf;
}

/* Estilos para el resultado de la cotización */
.resultado {
    background-color: #2b2b2b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-cotizacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
}

.content {
    margin-top: 1%;
    margin-right: 10%;
    padding: 20px;
    margin-left: 20%;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.flecha-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    color: #bb86fc;
}

.flecha-btn.expandido {
    transform: rotate(90deg);
}

/* Estilos para los productos */
.productos-cotizacion {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.producto:nth-child(even) {
    background-color: #383838;
}

.producto:nth-child(odd) {
    background-color: #424242;
}

.producto {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #00b050;
    text-align: left;
    padding: 10px;
    color: #e0e0e0;
}

th {
    background-color: #00b050;
    color: #ffffff;
}

.item-descripcion-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #444;
    background-color: #333;
}

.item-number {
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    background-color: #00b050;
    color: #121212;
    margin-right: 10px;
    border-right: 1px solid #444;
}

.descripcion-input {
    width: calc(100% - 68px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 4px;
}

/* Estilos para las tablas de selección de ítems */
.seleccion-items-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.seleccion-items-table th, .seleccion-items-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

.seleccion-items-table th {
    background-color: #bb86fc;
    color: #121212;
}

.seleccion-items-table td input[type="checkbox"] {
    margin: 0;
}

/* Ajustes de media queries */
@media (min-width: 768px) {
    .tabla-items {
        min-width: 45%;
    }
}

        /* Estilos CSS para los botones */
        .botones-container {
            margin-top: 20px;
        }
        .botones-container button {
            margin: 5px;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
        .botones-container button:hover {
            background-color: #45a049;
        }
        .botones-container .eliminar {
            background-color: #f44336;
        }
        .botones-container .eliminar:hover {
            background-color: #da190b;
        }


