/* static/css/styles_login.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    /* justify-content: right; */ /* Eliminar esta línea */
    color: #333;
}
img.logo{
    height: 100px;
}
.login-container {
    width: 80%; /* Make the container less wide */
    max-width: 400px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container on the page */
    padding: 40px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-header h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 18px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    background-color: #E4C008;
    color: #000000;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #ffffff;
}

.signup-link {
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}

.signup-link a {
    color: #ffffff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.error-message {
    background-color: #ffcccc; /* Color de fondo para resaltar el mensaje de error */
    color: #cc0000; /* Color del texto */
    padding: 10px; /* Espaciado interno para mayor claridad */
    border: 1px solid #cc0000; /* Borde para resaltar el mensaje */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px; /* Margen superior para separación */
    text-align: center; /* Alinear el texto al centro */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita para mayor énfasis */
    box-shadow: 0 0 10px rgba(204, 0, 0, 0.5); /* Sombra para resaltar el mensaje */
}


@media (max-width: 768px) {
    .login-container {
        width: 90%; /* Adjust the width for smaller screens */
    }
}

/* Additional media queries for smaller screens if needed */
@media (max-width: 480px) {
    .login-container {
        width: 95%; /* Further adjust the width for very small screens */
    }
}
