<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Usuario</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/usuario.svg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

</head>
<body>

<!-- Navbar -->
{% include 'navbar.html' %}

<!-- Sidebar -->
{% include 'sidebar_user.html' %}

<!-- Content -->
<div class="content">
  <h1>Bienvenido al panel de usuario</h1>
  <div class="carrusel">
    <div><img src="{{ url_for('static', filename='images/Principal.JPG') }}" alt="Personal Innova" class="car"></div>
    <div><img src="{{ url_for('static', filename='images/altura.jpg') }}" alt="Trabajo en alturas" class="car"></div>
    <div><img src="{{ url_for('static', filename='images/camiones.jpg') }}" alt="Logistica" class="car"></div>
    <div><img src="{{ url_for('static', filename='images/edificio.jpg') }}" alt="Infraestructura Innova" class="car"></div>
    <div><img src="{{ url_for('static', filename='images/corte.png') }}" alt="Plotter" class="car"></div>
  </div>
</div>
</body>

<footer>
<!-- Footer -->
{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>

const sidebar = document.querySelector('.sidebar');
const content = document.querySelector('.content');

// Función para contraer el sidebar
function collapseSidebar() {
  sidebar.classList.add('collapsed');
  content.style.marginLeft = '80px'; // Ajusta el margen izquierdo del contenido
  content.style.width = 'calc(100% - 80px)'; // Ajusta el ancho del contenido en función del ancho del sidebar contraído
}

// Función para expandir el sidebar
function expandSidebar() {
  sidebar.classList.remove('collapsed');
  content.style.marginLeft = '250px'; // Restaura el margen izquierdo del contenido
  content.style.width = 'calc(100% - 250px)'; // Restaura el ancho del contenido en función del ancho del sidebar expandido
}

</script>
<script>
$(document).ready(function(){
  $('.carrusel').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: true,
    dots: true
  });
});
</script>

</footer>
</html>