<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cotización</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_cotizador.css') }}">
    <style>
        .iva-selector {
            margin: 10px 0;
            font-family: Arial, sans-serif;
        }
        
        .iva-selector label {
            font-size: 16px;
            margin-right: 10px;
        }
        
        .iva-selector select {
            font-size: 16px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            cursor: pointer;
        }
        
        .iva-selector select:focus {
            border-color: #007bff;  
            outline: none;
        }

    </style>
</head>
<body>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <section class="flex">
            <div class="seccion-izquierda flex-item">
                <!-- Formulario de Edición de Productos -->
                <h2> Productos </h2>
                <div class="item-descripcion-container">
                    <div class="item-number" id="itemNumber"></div>
                    <textarea id="descripcion" name="descripcion" rows="2" class="descripcion-input" placeholder="Ingrese la descripción del producto" required>{{ cotizacion.descripcion }}</textarea>
                </div>
                <div class="grupo">
                    <label for="seleccionarLinea">Línea:</label>
                    <select id="seleccionarLinea" name="seleccionarLinea">
                        <option value="">Seleccionar</option>
                        {% for linea in lineas %}
                            <option value="{{ linea.linea_id }}" {% if linea.linea_id == cotizacion.linea_id %}selected{% endif %}>{{ linea.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="grupo">
                    <label for="seleccionarProducto">Producto:</label>
                    <select id="seleccionarProducto" name="seleccionarProducto" onchange="cargarPorcentajesProducto()">
                        <option value="">Seleccionar</option>
                        {% for producto in productos %}
                            <option value="{{ producto.producto_id }}" {% if producto.producto_id == cotizacion.producto_id %}selected{% endif %}>{{ producto.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label for="alto-1">Alto (Cm):</label>
                    <input type="number" class="alto-input" name="alto" value="{{ cotizacion.alto }}" />
                    <label for="ancho-1">Ancho (Cm):</label>
                    <input type="number" class="ancho-input" name="ancho" value="{{ cotizacion.ancho }}" />
                    <label for="fondo-1">Fondo (Cm):</label>
                    <input type="number" class="fondo-input" name="fondo" value="{{ cotizacion.fondo }}" />
                </div>
                <div id="cantidad-container">
                    <label for="cantidadUnidades">Cantidad de Unidades:</label>
                    <div id="cantidadUnidades">
                        <input type="number" class="cantidad-input" name="cantidadUnidades" min="1" value="{{ cotizacion.cantidadUnidades }}" />
                        <button id="btnAgregarCantidad">+</button>
                        <button id="btnEliminarCantidad">-</button>
                    </div>
                </div>
                <div class="grupo botones">
                    <button id="btnCrear">Añadir</button>
                </div>
            </div>
            <div class="seccion-derecha flex-item flex-grow">
                <div class="header-cotizacion">
                    <h2>Datos de Cotización</h2>
                    <button id="toggleDatosBtn" class="flecha-btn">></button>
                </div>
                <div class="grupo-columns" id="formulario-cotizacion" style="display: block;">
                    <div class="grupo-columns" id="formulario-cotizacion">
                        <div class="grupo-columna">
                            <div class="grupo">
                                <label for="fecha_cotizacion">Fecha:</label>
                                <input type="date" id="fecha_cotizacion" name="fecha_cotizacion" value="{{ cotizacion.fecha_cotizacion }}" required>
                            </div>

                            <div class="grupo">
                                <label for="cliente_cotizacion">Cliente:</label>
                                <input type="text" id="cliente_cotizacion" name="cliente_cotizacion" value="{{ cotizacion.cliente_cotizacion }}" required>
                            </div>
                            <div class="grupo">
                                <label for="contacto_cotizacion">Contacto:</label>
                                <input type="text" id="contacto_cotizacion" name="contacto_cotizacion" value="{{ cotizacion.contacto_cotizacion }}" required>
                            </div>
                            <div class="grupo">
                                <label for="proyecto_cotizacion">Proyecto:</label>
                                <input type="text" id="proyecto_cotizacion" name="proyecto_cotizacion" value="{{ cotizacion.proyecto_cotizacion }}" required>
                            </div>
                            <div class="grupo">
                                <label for="vendedor_cotizacion">Vendedor:</label>
                                <select id="vendedor_cotizacion" name="vendedor_cotizacion" required>
                                    <option value="">Seleccionar</option>
                                    {% for vendedor in vendedores %}
                                        <option value="{{ vendedor.user_id }}" {% if vendedor.user_id == cotizacion.vendedor_cotizacion %}selected{% endif %}>
                                            {{ vendedor.user_name }} {{ vendedor.user_last_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="grupo">
                                <label for="negociacion">N° Negociación:</label>
                                <input type="text" id="negociacion" name="negociacion" value="{{ cotizacion.negociacion }}" required>
                            </div>
                        </div>
                        <div class="grupo-columna">
                            <div class="grupo">
                                <label for="forma_pago">Forma de Pago:</label>
                                <select id="forma_pago" name="forma_pago" required>
                                    <option value="">Seleccionar</option>
                                    <option value="Contado" {% if cotizacion.forma_de_pago_cotizacion == 'Contado' %}selected{% endif %}>Contado</option>
                                    <option value="Credito 30 Dias" {% if cotizacion.forma_de_pago_cotizacion == 'Credito 30 Dias' %}selected{% endif %}>Crédito 30 Días</option>
                                    <option value="Credito 60 Dias" {% if cotizacion.forma_de_pago_cotizacion == 'Credito 60 Dias' %}selected{% endif %}>Crédito 60 Días</option>
                                    <option value="50% abono - 50% entrega" {% if cotizacion.forma_de_pago_cotizacion == '50% abono - 50% entrega' %}selected{% endif %}>50% Abono - 50% Entrega</option>
                                </select>
                            </div>
                            <div class="grupo">
                                <label for="validez_cotizacion">Validez:</label>
                                <select id="validez_cotizacion" name="validez_cotizacion" required>
                                    <option value="15" {% if cotizacion.validez_cotizacion == '15' %}selected{% endif %}>15 días</option>
                                    <option value="30" {% if cotizacion.validez_cotizacion == '30' %}selected{% endif %}>30 días</option>
                                    <option value="60" {% if cotizacion.validez_cotizacion == '60' %}selected{% endif %}>60 días</option>
                                </select>
                            </div>
                            <div class="grupo">
                                <label for="descuento_cotizacion">Porcentaje Descuento:</label>
                                <input type="number" id="descuento_cotizacion" name="descuento_cotizacion" min="0" max="100" value="{{ cotizacion.descuento_cotizacion }}" required>
                            </div>
                            <div class="grupo">
                                <label for="recibe_cotizacion">Persona que Recibe:</label>
                                <input type="text" id="recibe_cotizacion" name="recibe_cotizacion" value="{{ cotizacion.recibe_cotizacion }}" required>
                            </div>
                            <div class="grupo">
                                <label for="numero_contacto">Número de Contacto:</label>
                                <input type="tel" id="numero_contacto" name="numero_contacto" value="{{ cotizacion.numero_contacto }}" required>
                            </div>
                            <div class="grupo">
                                <label for="direccion_cotizacion">Dirección:</label>
                                <textarea id="direccion_cotizacion" name="direccion_cotizacion" rows="3" required>{{ cotizacion.direccion_cotizacion }}</textarea>
                            </div>
                            <div class="iva-selector">
                                <label for="iva-select">IVA:</label>
                                <select id="iva-select" name="iva">
                                    <option value="si" {% if cotizacion.iva_seleccionado == 'si' %}selected{% endif %}>Sí</option>
                                    <option value="no" {% if cotizacion.iva_seleccionado == 'no' %}selected{% endif %}>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acciones-globales">
                    <button id="guardarCotizacionBtn">Guardar Cotización</button>
                </div>
            </div>
        </section>
        <div id="productos-cotizacion" class="productos-cotizacion">
            <h2 style="text-align: center;">Productos de la Cotización</h2>
            <div id="notification-container" class="notification-container"></div>
            <div id="productos-container">
                {% for producto in productos_cotizados %}
                    <div class="producto" id="producto-{{ producto.id }}">
                        <h3 contenteditable="true" style="color: #00b04f;">Producto {{ producto.id }}: {{ producto.nombre }}</h3>
                        <h4 contenteditable="true">Descripción: {{ producto.descripcion }}</h4>
                        <h4 contenteditable="true">Alto (Cm): {{ producto.alto }} || Ancho (Cm): {{ producto.ancho }} || Fondo (Cm): {{ producto.fondo }} |</h4>
        
                        <!-- Añadimos el productoId con un nombre diferente -->
                        <input type="hidden" name="producto_seleccionado_id" value="{{ producto.id }}">
        
                        <button id="btnGuardar-{{ producto.id }}" onclick="guardarCambios({{ producto.id }})">Guardar Cambios</button>
        
                        <div class="itemsseleccionados">
                            <h4>Items Seleccionados</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Grupo</th>
                                        <th>Descripción</th>
                                        <th>Unidad</th>
                                        <th>Precio</th>
                                        {{ cantidadHeader | safe }}
                                        {{ totalHeader | safe }}
                                        <th class="oculto">Tipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="itemsseleccionados-{{ producto.id }}">
                                    {% for item in items_cotizados %}
                                        {% if item['producto_cotizado_id'] == producto.id %}
                                            <tr>
                                                <td>{{ item['item_id'] }}</td>
                                                <td>
                                                    {% if item['grupo'] %}
                                                        {{ item['grupo'] }}
                                                    {% else %}
                                                        N/A
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item['descripcion'] %}
                                                        {{ item['descripcion'] }}
                                                    {% else %}
                                                        N/A
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item['unidad'] %}
                                                        {{ item['unidad'] }}
                                                    {% else %}
                                                        N/A
                                                    {% endif %}
                                                </td>
                                                <td>{{ item['precio_unitario'] or '0.00' }}</td>
                                                <td>{{ item['cantidad'] }}</td>
                                                <td>{{ item['total_item'] }}</td>
                                                <td class="oculto">{{ item['tipo'] or 'N/A' }}</td>
                                                <td>
                                                    <button onclick="editarItem({{ item['id'] }})">Editar</button>
                                                    <button onclick="eliminarItem({{ item['id'] }})">Eliminar</button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
        
                        <!-- Mostrar resúmenes de costos -->
                        <div class="resumen-costos">
                            {% for resumen in resumen_costos %}
                                {% if resumen.producto_id == producto.id %}
                                    <div class="resumen-costos-individual">
                                        <h4>Resumen de Costos</h4>
                                        <p>Costo Directo: {{ resumen.costo_directo }}</p>
                                        <p>Costo Unitario: {{ resumen.costo_unitario }}</p>
                                        <p>Administración: {{ resumen.administracion }} <span>({{ resumen.porcentaje_administracion }}%)</span></p>
                                        <p>Imprevistos: {{ resumen.imprevistos }} <span>({{ resumen.porcentaje_imprevistos }}%)</span></p>
                                        <p>Utilidad: {{ resumen.utilidad }} <span>({{ resumen.porcentaje_utilidad }}%)</span></p>
                                        <input type="number" value="{{ resumen.utilidad }}" placeholder="El porcentaje mínimo es: {{ resumen.porcentaje_minimo_utilidad }}" onchange="actualizarTotalProducto({{ producto.id }})">
                                        <p>Oferta Antes De IVA: {{ resumen.oferta_antes_iva }}</p>
                                        <p>IVA: {{ resumen.iva }}</p>
                                        <p style="color: #00b04f;">Valor Oferta Impuestos Incluidos: {{ resumen.valor_oferta }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>

    <script>

        console.log("Cotización:", {{ cotizacion | tojson }});
        console.log("Productos Cotizados:", {{ productos_cotizados | tojson }});
        console.log("Ítems Cotizados:", {{ items_cotizados | tojson }});
        console.log("Resumen de Costos:", {{ resumen_costos | tojson }});

        const productos = {{ productos_cotizados | tojson }};
        console.log('Productos Cotizados:', productos);
    
        productos.forEach(producto => {
            const productoId = producto.id;
            console.log('Producto ID:', productoId);  // Verifica si productoId está definido aquí
            mostrarItems(productoId, /* otros parámetros */);
        });
          

        document.getElementById('btnCrear').addEventListener('click', function() {
            const descripcionInput = document.getElementById('descripcion');
            const altoInput = document.querySelector('.alto-input');
            const anchoInput = document.querySelector('.ancho-input');
            const fondoInput = document.querySelector('.fondo-input');        
            const productoSelect = document.getElementById('seleccionarProducto');
        
            const descripcion = descripcionInput.value.trim();
            const productoId = productoSelect.value;
            const productoNombre = productoSelect.options[productoSelect.selectedIndex].text;
        
            const alto = altoInput.value.trim();
            const ancho = anchoInput.value.trim();
            const fondo = fondoInput.value.trim();
        
            if (descripcion === "" || productoId === "") {
                alert("Por favor, ingrese una descripción y seleccione un producto.");
                return;
            }
        
            let nuevoNumeroProducto;
        
            if (numerosEliminados.length > 0) {
                nuevoNumeroProducto = numerosEliminados.shift(); // Reutilizar el número más bajo disponible
            } else {
                nuevoNumeroProducto = ++itemNumber; // Incrementar el número de producto
            }
        
            // Crear el nuevo producto
            const nuevoProducto = document.createElement('div');
            nuevoProducto.className = 'producto';
            nuevoProducto.id = `producto-${nuevoNumeroProducto}`;
        
            // Generar las cabeceras dinámicas usando el arreglo valoresCantidad
            const { cantidadHeader, totalHeader } = generarCabeceras();
        
            // Crear el h4 que muestra las cantidades seleccionadas
            const cantidadesSeleccionadasHTML = valoresCantidad.map((valor, index) => 
                `<h4>Cantidad seleccionada (${index + 1}): ${valor} unidades</h4>`
            ).join('');
        
            // Cargar porcentajes desde el backend y almacenarlos en los atributos de data del elemento
            fetch(`/porcentajes/${productoId}`)
                .then(response => response.json())
                .then(porcentajes => {
                    nuevoProducto.dataset.administracion = porcentajes.administracion;
                    nuevoProducto.dataset.imprevistos = porcentajes.imprevistos;
                    nuevoProducto.dataset.utilidad = porcentajes.utilidad;
        
                    // Crear el contenido del nuevo producto
                    nuevoProducto.innerHTML = `
                        <h3 style="color: #00b04f;">Producto ${nuevoNumeroProducto}: ${productoNombre}</h3> 
                        <h4>Descripción: ${descripcion}</h4>
                        <h4>Alto (Cm): ${alto} || Ancho (Cm): ${ancho} || Fondo (Cm): ${fondo} |</h4>
        
                        <!-- Añadimos el productoId con un nombre diferente -->
                        <input type="hidden" name="producto_seleccionado_id" value="${productoId}">
        
                        ${cantidadesSeleccionadasHTML}
                        <div class="itemsseleccionados">
                            <h4>Items Seleccionados</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Grupo</th>
                                        <th>Descripción</th>
                                        <th>Unidad</th>
                                        <th>Precio</th>
                                        ${cantidadHeader}
                                        ${totalHeader}
                                        <th class="oculto">Tipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="itemsseleccionados-${nuevoNumeroProducto}">
                                    <!-- Aquí se agregarán los ítems -->
                                </tbody>
                            </table>
                        </div>
                        <div id="seleccion-items-container-${nuevoNumeroProducto}" style="display: none;">
                            <div>
                                <h4>Seleccionar Ítems</h4>
                                <input type="text" id="buscar-item-${nuevoNumeroProducto}" placeholder="Buscar ítems">
                                <div id="seleccion-items-${nuevoNumeroProducto}"></div>
                                <div id="paginacion-items-${nuevoNumeroProducto}"></div>
                                <div class="botones-container">
                                    <button onclick="agregarItemsSeleccionados(${nuevoNumeroProducto})">Agregar Ítems Seleccionados</button>
                                    <button onclick="verTodosItems(${nuevoNumeroProducto}, 1, '')">Ver Todos los Ítems</button>
                                </div>
                            </div>
                        </div>
        
                        <!-- Botón para mostrar el formulario -->
                        <button id="toggleFormularioBtn-${nuevoNumeroProducto}" onclick="toggleFormulario(${nuevoNumeroProducto})">Agregar Nuevo Ítem</button>
        
                        <!-- Formulario para agregar ítems temporales -->
                        <div class="form-agregar-item-manual" id="formAgregarItem-${nuevoNumeroProducto}" data-producto-id="${nuevoNumeroProducto}">
                            <h4>Agregar Nuevo Ítem</h4>
                            <input type="text" id="nuevo-item-descripcion-${nuevoNumeroProducto}" placeholder="Descripción del Ítem">
                            <input type="number" id="nuevo-item-precio-${nuevoNumeroProducto}" placeholder="Precio del Ítem">
                            <input type="number" id="nuevo-item-cantidad-${nuevoNumeroProducto}" placeholder="Cantidad del Ítem" value="1" min="1">
                            <button id="btnAgregarItemTemporal-${nuevoNumeroProducto}" onclick="agregarItemTemporal(${nuevoNumeroProducto})">Agregar Ítem Temporal</button>
                        </div>
        
                        <div class="resumen-costos">
                            ${valoresCantidad.map((valor, index) => `
                                <div class="resumen-costos-individual" id="resumen-costos-${nuevoNumeroProducto}-${index}">
                                    <h4>Resumen de Costos (${valor})</h4>
                                    <p id="costo-directo-${nuevoNumeroProducto}-${index}">Costo Directo: 0</p>
                                    <p id="costo-unitario-${nuevoNumeroProducto}-${index}">Costo Directo Unitario: 0</p>
                                    <p id="administracion-${nuevoNumeroProducto}-${index}">Administración: 0 <span id="porcentaje-administracion-${nuevoNumeroProducto}-${index}">(0%)</span></p>
                                    <p id="imprevistos-${nuevoNumeroProducto}-${index}">Imprevistos: 0 <span id="porcentaje-imprevistos-${nuevoNumeroProducto}-${index}">(0%)</span></p>
                                    <p id="utilidad-${nuevoNumeroProducto}-${index}">Utilidad: 0 <span id="porcentaje-utilidad-${nuevoNumeroProducto}-${index}">(0%)</span></p>
                                    <input type="number" id="utilidadSeleccionada-${nuevoNumeroProducto}-${index}" placeholder="El porcentaje mínimo es: ${porcentajes.utilidad}" onchange="actualizarTotalProducto(${nuevoNumeroProducto})">
                                    <p id="oferta-antes-iva-${nuevoNumeroProducto}-${index}">Oferta Antes De IVA: 0</p>
                                    <p id="iva-${nuevoNumeroProducto}-${index}">IVA: 0</p>
                                    <p style="color: #00b04f;" id="valor-oferta-${nuevoNumeroProducto}-${index}">Valor Oferta Impuestos Incluidos: 0</p>
                                </div>
                            `).join('')}
                        </div>
        
                        <div class="acciones">
                            <button class="confirmar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Confirmar Producto</button>
                            <button class="editar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Editar Producto</button>
                            <button class="eliminar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Eliminar Producto</button>
                            <button class="duplicar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Duplicar Producto</button>
                        </div>
                    `;
        
                    productosContainer.appendChild(nuevoProducto);
        
                    // Limpiar los campos de entrada después de agregar el producto
                    descripcionInput.value = '';
                    productoSelect.value = '';
        
                    // Insertar el nuevo producto en la posición correcta
                    let insertado = false;
                    productosContainer.querySelectorAll('.producto').forEach(producto => {
                        const numeroProducto = parseInt(producto.id.split('-')[1], 10);
                        if (!insertado && nuevoNumeroProducto < numeroProducto) {
                            productosContainer.insertBefore(nuevoProducto, producto);
                            insertado = true;
                        }
                    });
                    if (!insertado) {
                        productosContainer.appendChild(nuevoProducto);
                    }
        
                    // Limpiar los valores de la cantidad seleccionada
                    valoresCantidad = [];
                    document.querySelectorAll('.cantidad-seleccionada').forEach(el => el.value = '');
        
                    // Mostrar el contenedor de ítems
                    toggleFormulario(nuevoNumeroProducto);
                })
                .catch(error => console.error('Error al obtener porcentajes:', error));
        });
        
        function toggleFormulario(numeroProducto) {
            const contenedorFormulario = document.getElementById(`formAgregarItem-${numeroProducto}`);
            const botonFormulario = document.getElementById(`toggleFormularioBtn-${numeroProducto}`);
            if (contenedorFormulario.style.display === 'none' || contenedorFormulario.style.display === '') {
                contenedorFormulario.style.display = 'block';
                botonFormulario.textContent = 'Ocultar Formulario';
            } else {
                contenedorFormulario.style.display = 'none';
                botonFormulario.textContent = 'Agregar Nuevo Ítem';
            }
        }
        
        function agregarItemTemporal(numeroProducto) {
            const descripcionItem = document.getElementById(`nuevo-item-descripcion-${numeroProducto}`).value.trim();
            const precioItem = parseFloat(document.getElementById(`nuevo-item-precio-${numeroProducto}`).value.trim());
            const cantidadItem = parseInt(document.getElementById(`nuevo-item-cantidad-${numeroProducto}`).value.trim(), 10);
        
            if (descripcionItem === "" || isNaN(precioItem) || isNaN(cantidadItem) || precioItem <= 0 || cantidadItem <= 0) {
                alert("Por favor, ingrese una descripción válida, un precio positivo y una cantidad positiva.");
                return;
            }
        
            const itemTemporal = document.createElement('tr');
            itemTemporal.innerHTML = `
                <td>Nuevo</td>
                <td>Manual</td>
                <td>${descripcionItem}</td>
                <td>Unidad</td>
                <td>${precioItem.toFixed(2)}</td>
                <td>${cantidadItem}</td>
                <td>${(precioItem * cantidadItem).toFixed(2)}</td>
                <td><button onclick="eliminarItem(this)">Eliminar</button></td>
            `;
        
            document.querySelector(`#itemsseleccionados-${numeroProducto}`).appendChild(itemTemporal);
        
            // Limpiar los campos del formulario después de agregar el ítem
            document.getElementById(`nuevo-item-descripcion-${numeroProducto}`).value = '';
            document.getElementById(`nuevo-item-precio-${numeroProducto}`).value = '';
            document.getElementById(`nuevo-item-cantidad-${numeroProducto}`).value = '1';
        }
        
        function eliminarItem(button) {
            const row = button.closest('tr');
            row.remove();
        }

        function generarCabeceras(valoresCantidad) {
            const cantidadHeader = valoresCantidad.map(valor => `<th>Cantidad (${valor})</th>`).join('');
            const totalHeader = valoresCantidad.map(valor => `<th>Total (${valor})</th>`).join('');
            return { cantidadHeader, totalHeader };
        }
        
        function generarFilasItems(items, valoresCantidad) {
            return items.map(item => {
                // Verifica que item.precio_unitario tenga el valor esperado
                console.log('Item:', item); // Debugging
        
                const celdasCantidad = valoresCantidad.map(valor => `<td>${item.cantidad || 0}</td>`).join('');
                const celdasTotal = valoresCantidad.map(valor => `<td>${(item.cantidad * item.precio_unitario || 0).toFixed(2)}</td>`).join('');
        
                return `
                    <tr>
                        <td>${item.id}</td>
                        <td>${item.grupo || 'N/A'}</td>
                        <td>${item.descripcion || 'N/A'}</td>
                        <td>${item.unidad || 'N/A'}</td>
                        <td>${item.precio_unitario ? item.precio_unitario.toFixed(2) : '0.00'}</td>
                        ${celdasCantidad}
                        ${celdasTotal}
                        <td class="oculto">${item.tipo || 'N/A'}</td>
                        <td>
                            <button onclick="editarItem(${item.id})">Editar</button>
                            <button onclick="eliminarItem(${item.id})">Eliminar</button>
                        </td>
                    </tr>
                `;
            }).join('');
        }
        
        function mostrarItems(productoId, items, valoresCantidad) {
            const tbody = document.getElementById(`itemsseleccionados-${productoId}`);
            tbody.innerHTML = generarFilasItems(items, valoresCantidad);
        }
        

        
        // Llama a esta función cuando cargues los datos
        mostrarItems(productoId, items_cotizados, valoresCantidad);

    </script>
</body>
</html>