<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cotizador Web</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_cotizador.css') }}">
</head>
<body>
  <header>
    <h1>Sistema De Costos</h1>
  </header>

  <section class="flex">
    <div class="seccion-izquierda flex-item">
      <h2>Productos</h2>
      
      <div class="item-descripcion-container">
        <div class="item-number" id="itemNumber">1</div>
        <textarea id="descripcion" name="descripcion" rows="3" class="descripcion-input" placeholder="Ingrese la descripción del producto" required></textarea>
      </div>

      <div class="grupo">
        <label for="seleccionarLinea">Línea:</label>
        <select id="seleccionarLinea" name="seleccionarLinea">
            <option value="">Seleccionar</option>
            {% for linea in lineas %}
                <option value="{{ linea.linea_id }}">{{ linea.nombre }}</option>
            {% endfor %}
        </select>
      </div>
    
      <div class="grupo">
        <label for="seleccionarProducto">Producto:</label>
        <select id="seleccionarProducto" name="seleccionarProducto">
            <option value="">Seleccionar</option>
            {% for producto in productos %}
                <option value="{{ producto.producto_id }}">{{ producto.nombre }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="grupo botones">
        <button id="btnCrear">Añadir</button>
        <button id="btnDuplicar">Duplicar</button>
        <button id="btnEliminar">Eliminar</button>
      </div>
    </div>

    <div class="seccion-derecha flex-item flex-grow">
      <div class="header-cotizacion">
        <h2>Datos de Cotización</h2>
        <button id="toggleDatosBtn" class="flecha-btn">></button>
      </div>
      <div class="grupo-columns" id="formulario-cotizacion">
        <div class="grupo-columna">
          <div class="grupo">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
          </div>
          <div class="grupo">
            <label for="cliente">Cliente:</label>
            <input type="text" id="cliente" name="cliente" required>
          </div>
          <div class="grupo">
            <label for="contacto">Contacto:</label>
            <input type="text" id="contacto" name="contacto" required>
          </div>
          <div class="grupo">
            <label for="proyecto">Proyecto:</label>
            <input type="text" id="proyecto" name="proyecto" required>
          </div>
          <div class="grupo">
            <label for="vendor">Vendedor:</label>
            <input type="text" id="vendor" name="vendor" required>
          </div>
          <div class="grupo">
            <label for="negociacion">Negociación:</label>
            <input type="text" id="negociacion" name="negociacion" required>
          </div>
        </div>
        <div class="grupo-columna">
          <div class="grupo">
            <label for="formaPago">Forma de Pago:</label>
            <input type="text" id="formaPago" name="formaPago" required>
          </div>
          <div class="grupo">
            <label for="validez">Validez:</label>
            <input type="date" id="validez" name="validez" required>
          </div>
          <div class="grupo">
            <label for="descuento">Porcentaje Descuento:</label>
            <input type="number" id="descuento" name="descuento" min="0" max="100" required>
          </div>
          <div class="grupo">
            <label for="personaRecibe">Persona que Recibe:</label>
            <input type="text" id="personaRecibe" name="personaRecibe" required>
          </div>
          <div class="grupo">
            <label for="numeroContacto">Número de Contacto:</label>
            <input type="tel" id="numeroContacto" name="numeroContacto" required>
          </div>
          <div class="grupo">
            <label for="direccion">Dirección:</label>
            <textarea id="direccion" name="direccion" rows="3" required></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="productos-cotizacion" class="productos-cotizacion">
    <h2>Productos de la Cotización</h2>
    <div id="productos-container"></div>

  </div>

  <div id="resultado" class="resultado">
    <h2>Resultado de la Cotización</h2>
    <p>Subtotal:</p>
    <p>IVA:</p>
    <p>Total:</p>
  </div>

  <script>

    document.getElementById('toggleDatosBtn').addEventListener('click', function() {
        const formularioCotizacion = document.getElementById('formulario-cotizacion');
        const isExpanded = formularioCotizacion.style.display !== 'none';
    
        if (isExpanded) {
            formularioCotizacion.style.display = 'none';
            this.textContent = '>';
            this.classList.remove('expandido');
        } else {
            formularioCotizacion.style.display = 'flex';
            this.textContent = 'v';
            this.classList.add('expandido');
        }
    });
    
    let itemNumber = 0; // Cambio de nombre de contador a itemNumber
    
    document.getElementById('btnCrear').addEventListener('click', function() {
        const descripcionInput = document.getElementById('descripcion');
        const descripcion = descripcionInput.value.trim();
        const productoSelect = document.getElementById('seleccionarProducto');
        const productoId = productoSelect.value;
    
        if (descripcion === "") {
            alert("Por favor, ingrese una descripción.");
            return;
        }
    
        if (productoId === "") {
            alert("Por favor, seleccione un producto.");
            return;
        }
    
        // Incrementar el itemNumber
        itemNumber++;
    
        // Añadir el nuevo producto al contenedor de productos
        const productosContainer = document.getElementById('productos-container');
        const nuevoProducto = document.createElement('div');
        nuevoProducto.className = 'producto';
        nuevoProducto.id = `producto-${itemNumber}`;
    
        nuevoProducto.innerHTML = `
            <div id"titulo-producto">
            <h3>Producto ${itemNumber}: ${descripcion}</h3>
            </div>
            <p>ID Producto: ${productoId}</p>
            <div id="seleccion-items-container-${itemNumber}">
                <h4>Seleccione los ítems necesarios:</h4>
                <div id="seleccion-items-materia-prima-${itemNumber}"></div>
                <div id="seleccion-items-consumibles-${itemNumber}"></div>
                <div id="seleccion-items-servicios-${itemNumber}"></div>
                <button onclick="agregarItemsSeleccionados(${itemNumber})">Agregar Ítems Seleccionados</button>
            </div>
            <div class="items-materia-prima">
                <h4>Materia Prima</h4>
                <table>
                    <thead>
                        <tr><th>ID Item</th><th>Descripción</th><th>Categoría</th><th>Unidad</th></tr>
                    </thead>
                    <tbody id="items-materia-prima-${itemNumber}"></tbody>
                </table>
            </div>
            <div class="items-consumibles">
                <h4>Consumibles</h4>
                <table>
                    <thead>
                        <tr><th>ID Item</th><th>Descripción</th><th>Categoría</th><th>Unidad</th></tr>
                    </thead>
                    <tbody id="items-consumibles-${itemNumber}"></tbody>
                </table>
            </div>
            <div class="items-servicios">
                <h4>Servicios</h4>
                <table>
                    <thead>
                        <tr><th>ID Item</th><th>Descripción</th><th>Categoría</th><th>Unidad</th></tr>
                    </thead>
                    <tbody id="items-servicios-${itemNumber}"></tbody>
                </table>
            </div>
        `;
        
        productosContainer.appendChild(nuevoProducto);
    
        // Llamar a la función para cargar los ítems del producto seleccionado
        cargarItemsPorProducto(productoId, itemNumber);
    
        // Limpiar el área de entrada de descripción
        descripcionInput.value = "";
    
        // Restablecer la selección de producto a su valor predeterminado
        productoSelect.value = "";
    });
    
    function cargarItemsPorProducto(productoId, itemNumber) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/items_por_producto/' + productoId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var items = JSON.parse(xhr.responseText);
                mostrarItemsParaSeleccion(items, itemNumber);
            }
        };
        xhr.send();
    }
    
    function mostrarItemsParaSeleccion(items, itemNumber) {
        const contenedorMateriaPrima = document.getElementById(`seleccion-items-materia-prima-${itemNumber}`);
        const contenedorConsumibles = document.getElementById(`seleccion-items-consumibles-${itemNumber}`);
        const contenedorServicios = document.getElementById(`seleccion-items-servicios-${itemNumber}`);
    
        contenedorMateriaPrima.innerHTML = '<h5>Materia Prima</h5>';
        contenedorConsumibles.innerHTML = '<h5>Consumibles</h5>';
        contenedorServicios.innerHTML = '<h5>Servicios</h5>';
    
        items.forEach(function(item) {
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.value = item.id;
            checkbox.dataset.descripcion = item.descripcion;
            checkbox.dataset.categoria = item.categoria_nombre;
            checkbox.dataset.unidad = item.unidad;
            checkbox.dataset.tipo = item.tipo;
    
            const label = document.createElement('label');
            label.textContent = `${item.descripcion} (ID: ${item.id})`;
    
            const itemContainer = document.createElement('div');
            itemContainer.appendChild(checkbox);
            itemContainer.appendChild(label);
    
            if (item.tipo === 'Materia Prima') {
                contenedorMateriaPrima.appendChild(itemContainer);
            } else if (item.tipo === 'Consumibles') {
                contenedorConsumibles.appendChild(itemContainer);
            } else if (item.tipo === 'Servicios') {
                contenedorServicios.appendChild(itemContainer);
            }
        });
    }
    
    function agregarItemsSeleccionados(itemNumber) {
        const contenedorMateriaPrima = document.getElementById(`items-materia-prima-${itemNumber}`);
        const contenedorConsumibles = document.getElementById(`items-consumibles-${itemNumber}`);
        const contenedorServicios = document.getElementById(`items-servicios-${itemNumber}`);
        
        const seleccionItemsContainer = document.getElementById(`seleccion-items-container-${itemNumber}`);
        const checkboxes = seleccionItemsContainer.querySelectorAll('input[type="checkbox"]:checked');
    
        checkboxes.forEach(function(checkbox) {
            const newItem = document.createElement('tr');
            newItem.innerHTML = `
                <td>${checkbox.value}</td>
                <td>${checkbox.dataset.descripcion}</td>
                <td>${checkbox.dataset.categoria}</td>
                <td>${checkbox.dataset.unidad}</td>
            `;
    
            if (checkbox.dataset.tipo === 'Materia Prima') {
                contenedorMateriaPrima.appendChild(newItem);
            } else if (checkbox.dataset.tipo === 'Consumibles') {
                contenedorConsumibles.appendChild(newItem);
            } else if (checkbox.dataset.tipo === 'Servicios') {
                contenedorServicios.appendChild(newItem);
            }
        });
    
        // Opcional: Limpiar la selección después de agregar los ítems
        seleccionItemsContainer.innerHTML = '';
    }
    
    document.getElementById('seleccionarLinea').addEventListener('change', function() {
        var lineaId = this.value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/productos_por_linea/' + lineaId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var productos = JSON.parse(xhr.responseText);
                var selectProducto = document.getElementById('seleccionarProducto');
                selectProducto.innerHTML = '<option value="">Seleccionar</option>';
                productos.forEach(function(producto) {
                    var option = document.createElement('option');
                    option.value = producto.id;
                    option.textContent = producto.nombre;
                    selectProducto.appendChild(option);
                });
            }
        };
        xhr.send();
    });
    </script>
    





</body>
</html>