<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Costos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_cotizador.css') }}">
    <style>
        
    </style>
</head>
<body>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
    <section class="flex">
        <div class="seccion-izquierda flex-item">
            <h2> Productos </h2>
            <div class="item-descripcion-container">
                <div class="item-number" id="itemNumber"></div>
                <textarea id="descripcion" name="descripcion" rows="2" class="descripcion-input" placeholder="Ingrese la descripción del producto" required></textarea>
            </div>
            <div class="grupo">
                <label for="seleccionarLinea">Línea:</label>
                <select id="seleccionarLinea" name="seleccionarLinea">
                    <option value="">Seleccionar</option>
                    {% for linea in lineas %}
                        <option value="{{ linea.linea_id }}">{{ linea.nombre }}</option>

                    {% endfor %}
                </select>
            </div>
            <div class="grupo">
                <label for="seleccionarProducto">Producto:</label>
                <select id="seleccionarProducto" onchange="cargarPorcentajesProducto()">
                <option value="">Seleccionar</option>
                </select>
                <label for="alto">Alto:</label>
                <input type="number" id="alto" name="alto" />
                <label for="ancho">Ancho:</label>
                <input type="number" id="ancho" name="ancho" />
                <label for="fondo">Fondo:</label>
                <input type="number" id="fondo" name="fondo"   />
            </div>
            <div id="cantidad-container">
                <label for="cantidadUnidades">Cantidad de Unidades:</label>
                <div id="cantidadUnidades">
                    <input type="number" class="cantidad-input" name="cantidadUnidades" min="1" value="1" />
                    <button id="btnAgregarCantidad">+</button>
                    <button id="btnEliminarCantidad">-</button>
                </div>
            </div>
            <div class="grupo botones">
                <button id="btnCrear">Añadir</button>
            </div>
        </div>
        <div class="seccion-derecha flex-item flex-grow">
            <div class="header-cotizacion">
                <h2>Datos de Cotización</h2>
        <button id="toggleDatosBtn" class="flecha-btn">></button>
    </div>
    <div class="grupo-columns" id="formulario-cotizacion" style="display: none;">
        <div class="grupo-columns" id="formulario-cotizacion">
            <div class="grupo-columna">
                <div class="grupo">
                    <label for="fecha"> Fecha </label>
                    <input type="date" id="fecha" name="fecha" value="" required>
                </div>
                <div class="grupo">
                    <label for="cliente"> Cliente  </label>
                    <input type="text" id="cliente" name="cliente" required>
                </div>
                <div class="grupo">
                    <label for="contacto"> Contacto  </label>
                    <input type="text" id="contacto" name="contacto" required>
                </div>
                <div class="grupo">
                    <label for="proyecto"> Proyecto  </label>
                    <input type="text" id="proyecto" name="proyecto" required>
                </div>
                <div class="grupo">
                    <label for="vendedor"> Vendedor </label>
                    <select id="vendedor" name="vendedor" required>
                        <option value="">Seleccionar</option>
                        {% for vendedor in vendedores %}
                        <option value="{{ vendedor.user_id }}">{{ vendedor.user_name }} {{ vendedor.user_last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="grupo">
                    <label for="negociacion"> N° Negociacion </label>
                        <input type="text" id="negociacion" name=" negociacion " required>
                    </div>
            </div>
            <div class="grupo-columna">
                <div class="grupo">
                    <label for="formaPago"> Forma de Pago  </label>
                    <select id="formaPago" name="formaPago" required>
                        <option value="">Seleccionar</option>
                        <option value="Contado" selected>Contado</option>
                        <option value="Credito 30 Dias">Crédito 30 Días</option>
                        <option value="Credito 60 Dias">Crédito 60 Días</option>
                        <option value="50% abono - 50% entrega">50% Abono - 50% Entrega</option>
                    </select>
                </div>
                <div class="grupo">
                    <label for="validez"> Validez  </label>
                    <select id="validez" name="validez" required>
                        <option value="15">15 días</option>
                        <option value="30" selected>30 días</option>
                        <option value="60">60 días</option>
                    </select>
                </div>
                <div class="grupo">
                    <label for="descuento"> Porcentaje Descuento </label>
                    <input type="number" id="descuento" name="descuento" min="0" max="100" required>
                </div>
                <div class="grupo">
                    <label for="personaRecibe"> Persona que Recibe  </label>
                    <input type="text" id="personaRecibe" name="personaRecibe" required>
                </div>
                <div class="grupo">
                    <label for="numeroContacto"> Número de Contacto </label>
                    <input type="tel" id="numeroContacto" name="numeroContacto" required>
                </div>
                <div class="grupo">
                    <label for="direccion"> Dirección  </label>
                    <textarea id="direccion" name="direccion" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="productos-cotizacion" class="productos-cotizacion">
        <h2>Productos de la Cotización</h2>
        <div id="notification-container" class="notification-container"></div>

        <div id="productos-container"></div>
    </div>

</main>

<script>

    // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().slice(0, 10);

    // Establecer la fecha actual como valor por defecto
    document.getElementById('fecha').value = today;


    // Funciones para el formulario de cotizacion
    
    document.getElementById('toggleDatosBtn').addEventListener('click', function() {
        const formularioCotizacion = document.getElementById('formulario-cotizacion');
        formularioCotizacion.style.display = formularioCotizacion.style.display === 'none' ? 'flex' : 'none';
        this.textContent = formularioCotizacion.style.display === 'none' ? '>' : 'v';
        this.classList.toggle('expandido');
    });

    document.addEventListener('DOMContentLoaded', function(){
        const formularioCotizacion = document.getElementById('formulario-cotizacion');
        formularioCotizacion.style.display= 'flex';
    });

    //funcion para evento de seleccion de linea

    document.getElementById('seleccionarLinea').addEventListener('change', function() {
        const lineaId = this.value;
        const productoSelect = document.getElementById('seleccionarProducto');
        productoSelect.innerHTML = '<option value="">Seleccionar</option>'; // Limpiar opciones actuales
    
        fetch(`/productos_por_linea/${lineaId}`)
            .then(response => response.json())
            .then(productos => {
                productos.forEach(producto => {
                    const option = document.createElement('option');
                    option.value = producto.id;
                    option.textContent = producto.nombre;
                    productoSelect.appendChild(option);
                });
            });
    });
    
    //funcion que consulta los porcentajes de cada producto en el backend

    function cargarPorcentajesProducto() {
        const productoId = document.getElementById('seleccionarProducto').value;
    
        if (productoId) {
            fetch(`/porcentajes/${productoId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la solicitud: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(porcentajes => {
                    if (!porcentajes.error) {
                        // Guardar los porcentajes en el objeto del producto seleccionado
                        const productoElement = document.querySelector(`#producto-${productoId}`);
                        if (productoElement) {
                            productoElement.dataset.administracion = porcentajes.administracion;
                            productoElement.dataset.imprevistos = porcentajes.imprevistos;
                            productoElement.dataset.utilidad = porcentajes.utilidad;
    
                            // Establecer el valor mínimo en el input de utilidad
                            const inputUtilidad = document.getElementById('utilidadSeleccionada');
                            inputUtilidad.placeholder = `El porcentaje mínimo es: ${porcentajes.utilidad}`;
                            inputUtilidad.min = porcentajes.utilidad;
                        }
                    }
                })
                .catch(error => {
                    console.error('Error al cargar los porcentajes:', error);
                    alert('Ocurrió un error al cargar los porcentajes. Por favor, inténtalo nuevamente más tarde.');
                });
        }
    }

    let valoresCantidad = [];

    document.getElementById('btnAgregarCantidad').addEventListener('click', function() {
        const cantidadContainer = document.getElementById('cantidadUnidades');
        
        // Crear nuevo input
        const newInput = document.createElement('input');
        newInput.type = 'number';
        newInput.className = 'cantidad-input';
        newInput.name = 'cantidadUnidades';
        newInput.min = '1';
        newInput.value = '1';
        cantidadContainer.appendChild(newInput);

        // Actualizar el arreglo con los valores de los inputs
        actualizarValoresCantidad();

        // Contar los inputs
        const cantidadInputs = document.querySelectorAll('#cantidadUnidades .cantidad-input');
        console.log('Número de inputs de cantidad:', cantidadInputs.length);
    });

        // Función para obtener los valores de los inputs
    function obtenerValoresInputs() {
        const cantidadInputs = document.querySelectorAll('#cantidadUnidades .cantidad-input');
        return Array.from(cantidadInputs).map(input => parseInt(input.value));
    }


    // Función para actualizar el arreglo de valores
    function actualizarValoresCantidad() {
        const cantidadInputs = document.querySelectorAll('#cantidadUnidades .cantidad-input');
        valoresCantidad = Array.from(cantidadInputs).map(input => parseInt(input.value));
        console.log('Valores actuales:', valoresCantidad);
    }

    // Listener para actualizar valores cuando cambian los inputs
    document.addEventListener('input', function(event) {
        if (event.target.classList.contains('cantidad-input')) {
            actualizarValoresCantidad();
        }
    });

    // Ejemplo de otra función que usa los valores guardados
    function usarValoresGuardados() {
        console.log('Usando los valores guardados:', valoresCantidad);
        // Aquí puedes hacer lo que necesites con los valores guardados
    }
    
    document.getElementById('btnEliminarCantidad').addEventListener('click', function() {
        const cantidadContainer = document.getElementById('cantidadUnidades');
        const cantidadInputs = document.querySelectorAll('#cantidadUnidades .cantidad-input');
        
        // Eliminar el último input si hay más de uno
        if (cantidadInputs.length > 1) {
            cantidadContainer.removeChild(cantidadInputs[cantidadInputs.length - 1]);
        }
        
        // Contar los inputs
        console.log('Número de inputs de cantidad:', cantidadInputs.length - 1);
    });

    let itemNumber = 0;
    let numerosEliminados = [];
    let temporalItemID = 1; // ID inicial para ítems temporales, será decreciente

    const productosContainer = document.getElementById('productos-container'); // Define en el ámbito global

    function generarCabeceras() {
        const cantidadHeader = valoresCantidad.map(valor => `<th>Cantidad (${valor})</th>`).join('');
        const totalHeader = valoresCantidad.map(valor => `<th>Total (${valor})</th>`).join('');
        return { cantidadHeader, totalHeader };
    }

    document.getElementById('btnCrear').addEventListener('click', function() {
        const descripcionInput = document.getElementById('descripcion');
        const productoSelect = document.getElementById('seleccionarProducto');
        const descripcion = descripcionInput.value.trim();
        const productoId = productoSelect.value;
        const productoNombre = productoSelect.options[productoSelect.selectedIndex].text;
    
        if (descripcion === "" || productoId === "") {
            alert("Por favor, ingrese una descripción y seleccione un producto.");
            return;
        }
    
        let nuevoNumeroProducto;
    
        if (numerosEliminados.length > 0) {
            nuevoNumeroProducto = numerosEliminados.shift(); // Reutilizar el número más bajo disponible
        } else {
            nuevoNumeroProducto = ++itemNumber; // Incrementar el número de producto
        }
    
        // Crear el nuevo producto
        const nuevoProducto = document.createElement('div');
        nuevoProducto.className = 'producto';
        nuevoProducto.id = `producto-${nuevoNumeroProducto}`;
    
        // Generar las cabeceras dinámicas usando el arreglo valoresCantidad
        const { cantidadHeader, totalHeader } = generarCabeceras();
    
        // Cargar porcentajes desde el backend y almacenarlos en los atributos de data del elemento
        fetch(`/porcentajes/${productoId}`)
            .then(response => response.json())
            .then(porcentajes => {
                nuevoProducto.dataset.administracion = porcentajes.administracion;
                nuevoProducto.dataset.imprevistos = porcentajes.imprevistos;
                nuevoProducto.dataset.utilidad = porcentajes.utilidad;
    
                // Crear el contenido del nuevo producto
                nuevoProducto.innerHTML = `
                    <h3>Producto ${nuevoNumeroProducto}: ${productoNombre}</h3>
                    <h4>Descripción: ${descripcion}</h4>
                    <div class="itemsseleccionados">
                        <h4>Items Seleccionados</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Grupo</th>
                                    <th>Descripción</th>
                                    <th>Unidad</th>
                                    <th>Precio</th>
                                    ${cantidadHeader}
                                    ${totalHeader}
                                    <th class="oculto">Tipo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="itemsseleccionados-${nuevoNumeroProducto}">
                                <tbody id="materiaprima-${nuevoNumeroProducto}"></tbody>
                                <tbody id="consumibles-${nuevoNumeroProducto}"></tbody>
                                <tbody id="servicios-${nuevoNumeroProducto}"></tbody>
                                <tbody id="manodeobra-${nuevoNumeroProducto}"></tbody>
                                <tbody id="transporte-${nuevoNumeroProducto}"></tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="seleccion-items-container-${nuevoNumeroProducto}" style="display: none;">
                        <div>
                            <h4>Seleccionar Ítems</h4>
                            <input type="text" id="buscar-item-${nuevoNumeroProducto}" placeholder="Buscar ítems">
                            <div id="seleccion-items-${nuevoNumeroProducto}"></div>
                            <div id="paginacion-items-${nuevoNumeroProducto}"></div>
                            <div class="botones-container">
                                <button onclick="agregarItemsSeleccionados(${nuevoNumeroProducto})">Agregar Ítems Seleccionados</button>
                                <button onclick="verTodosItems(${nuevoNumeroProducto}, 1, '')">Ver Todos los Ítems</button>
                            </div>
                        </div>
                    </div>
        
                    <!-- Formulario para agregar ítems temporales -->
                    <div class="form-agregar-item-manual" data-producto-id="${nuevoNumeroProducto}">
                        <h4>Agregar Nuevo Ítem</h4>
                        <input type="text" id="nuevo-item-descripcion-${nuevoNumeroProducto}" placeholder="Descripción del Ítem">
                        <input type="number" id="nuevo-item-precio-${nuevoNumeroProducto}" placeholder="Precio del Ítem">
                        <input type="number" id="nuevo-item-cantidad-${nuevoNumeroProducto}" placeholder="Cantidad del Ítem" value="1" min="1">
                        <button id="btnAgregarItemTemporal-${nuevoNumeroProducto}" onclick="agregarItemTemporal(${nuevoNumeroProducto})">Agregar Ítem Temporal</button>
                    </div>
                    <div class="resumen-costos">
                        <h4>Resumen de Costos</h4>
                        <p id="costo-directo-${nuevoNumeroProducto}">Costo Directo: 0</p>
                        <p id="costo-unitario-${nuevoNumeroProducto}">Costo Directo Unitario: 0</p>
                        
                        <p id="administracion-${nuevoNumeroProducto}">Administración: 0</p>
                        <p id="imprevistos-${nuevoNumeroProducto}">Imprevistos: 0</p>
                        <p id="utilidad-${nuevoNumeroProducto}">Utilidad: 0</p>
                        <input type="number" id="utilidadSeleccionada-${nuevoNumeroProducto}" placeholder="El porcentaje mínimo es: ${porcentajes.utilidad}">
                        <p id="oferta-antes-iva-${nuevoNumeroProducto}">Oferta Antes De IVA: 0</p>
                        <p id="iva-${nuevoNumeroProducto}">IVA: 0</p>
                        <p id="valor-oferta-${nuevoNumeroProducto}">Valor Oferta Impuestos Incluidos: 0</p>
                    </div>
                    <div class="acciones">
                        <button class="confirmar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Confirmar Producto</button>
                        <button class="editar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Editar Producto</button>
                        <button class="eliminar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Eliminar Producto</button>
                        <button class="duplicar-producto-btn" data-producto-id="${nuevoNumeroProducto}">Duplicar Producto</button>
                    </div>
                `;
        
                productosContainer.appendChild(nuevoProducto);
    
                // Limpiar los campos de entrada después de agregar el producto
                descripcionInput.value = '';
                productoSelect.value = '';
    
                // Insertar el nuevo producto en la posición correcta
                let insertado = false;
                productosContainer.querySelectorAll('.producto').forEach(producto => {
                    const numeroProducto = parseInt(producto.id.split('-')[1], 10);
                    if (nuevoNumeroProducto < numeroProducto) {
                        productosContainer.insertBefore(nuevoProducto, producto);
                        insertado = true;
                        return false; // Rompe el bucle forEach
                    }
                });
                if (!insertado) {
                    productosContainer.appendChild(nuevoProducto); // Si no se insertó, agregar al final
                }
    
                // Actualizar el número de producto dentro del div itemNumber
                actualizarNumeroProducto();
    
                cargarItemsProducto(productoId, nuevoNumeroProducto, 1, '');
    
                // Añadir manejadores de eventos para la utilidad
                let timeout;
                document.getElementById(`utilidadSeleccionada-${nuevoNumeroProducto}`).addEventListener('input', function() {
                    clearTimeout(timeout);
                    timeout = setTimeout(() => {
                        const nuevoValorUtilidad = parseFloat(this.value);
                        if (!isNaN(nuevoValorUtilidad)) {
                            const productoElement = document.querySelector(`#producto-${nuevoNumeroProducto}`);
                            if (productoElement) {
                                const porcentajeMinimoUtilidad = parseFloat(productoElement.dataset.utilidad);
                                if (nuevoValorUtilidad >= porcentajeMinimoUtilidad) {
                                    actualizarTotalProducto(nuevoNumeroProducto, nuevoValorUtilidad); // Pasar el nuevo valor de utilidad
                                } else {
                                    alert(`El porcentaje de utilidad debe ser al menos ${porcentajeMinimoUtilidad}%`);
                                }
                            }
                        }
                    }, 300); // Ajusta el tiempo de espera según sea necesario
                });
    
                // Actualizar los totales al agregar un nuevo producto
                actualizarTotalesExtras(nuevoNumeroProducto, 0); // Inicia con costo directo 0
            })
            .catch(error => {
                console.error('Error al cargar los porcentajes:', error);
                alert('Ocurrió un error al cargar los porcentajes. Por favor, inténtalo nuevamente más tarde.');
            });
    });
    
 // Delegación de eventos para los botones de productos
 document.addEventListener('click', function(event) {
    const target = event.target;

    if (target.matches('.confirmar-producto-btn')) {
        const seleccionItemsContainer = document.getElementById(`seleccion-items-container-${target.dataset.productoId}`);
        seleccionItemsContainer.style.display = 'none';
    } else if (target.matches('.editar-producto-btn')) {
        const seleccionItemsContainer = document.getElementById(`seleccion-items-container-${target.dataset.productoId}`);
        seleccionItemsContainer.style.display = 'block';
    } else if (target.matches('.eliminar-producto-btn')) {
        const producto = document.getElementById(`producto-${target.dataset.productoId}`);
        numerosEliminados.push(parseInt(target.dataset.productoId, 10)); // Añadir el número del producto eliminado al array
        producto.remove();
        actualizarNumeroProducto(); // Actualizar el número de producto visible
        actualizarTotalProducto(target.dataset.productoId); // Actualizar el total del producto
    } else if (target.matches('.duplicar-producto-btn')) {
        let nuevoNumeroProductoDuplicado;
        if (numerosEliminados.length > 0) {
            nuevoNumeroProductoDuplicado = numerosEliminados.shift();
        } else {
            nuevoNumeroProductoDuplicado = ++itemNumber;
        }

        // Clonar el producto
        const productoOriginal = document.getElementById(`producto-${target.dataset.productoId}`);
        const nuevoProductoDuplicado = productoOriginal.cloneNode(true);

        // Actualizar el ID del producto clonado
        nuevoProductoDuplicado.id = `producto-${nuevoNumeroProductoDuplicado}`;

        // Actualizar los IDs de los elementos internos y los eventos del producto duplicado
        const actualizarIdsYEventos = (element, nuevoId) => {
            element.querySelectorAll('[id]').forEach(child => {
                const partesId = child.id.split('-');
                partesId[partesId.length - 1] = nuevoId;
                child.id = partesId.join('-');
            });
            element.querySelectorAll('[for]').forEach(child => {
                const partesFor = child.getAttribute('for').split('-');
                partesFor[partesFor.length - 1] = nuevoId;
                child.setAttribute('for', partesFor.join('-'));
            });
            element.querySelectorAll('[name]').forEach(child => {
                const partesName = child.name.split('-');
                partesName[partesName.length - 1] = nuevoId;
                child.name = partesName.join('-');
            });
            element.querySelectorAll('[data-producto-id]').forEach(child => {
                child.setAttribute('data-producto-id', nuevoId);
            });

            // Actualizar los eventos `onclick` de los botones
            element.querySelectorAll('button').forEach(button => {
                const originalOnClick = button.getAttribute('onclick');
                if (originalOnClick) {
                    button.setAttribute('onclick', originalOnClick.replace(/\d+/, nuevoId));
                }
            });
        };

        actualizarIdsYEventos(nuevoProductoDuplicado, nuevoNumeroProductoDuplicado);

        // Actualizar el contenido específico del producto duplicado
        nuevoProductoDuplicado.querySelector('h3').textContent = `Producto ${nuevoNumeroProductoDuplicado}: ${productoOriginal.querySelector('h3').textContent.split(': ')[1]}`;

        // Agregar el producto duplicado al contenedor de productos
        productosContainer.appendChild(nuevoProductoDuplicado);

        // Actualizar el número de producto visible
        actualizarNumeroProducto();

        // Actualizar el total del producto duplicado
        actualizarTotalProducto(nuevoNumeroProductoDuplicado);

        // Añadir manejadores de eventos a los nuevos elementos del producto duplicado
        let timeout;
        document.getElementById(`utilidadSeleccionada-${nuevoNumeroProductoDuplicado}`).addEventListener('input', function() {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                const nuevoValorUtilidad = parseFloat(this.value);
                if (!isNaN(nuevoValorUtilidad)) {
                    const productoElement = document.querySelector(`#producto-${nuevoNumeroProductoDuplicado}`);
                    if (productoElement) {
                        const porcentajeMinimoUtilidad = parseFloat(productoElement.dataset.utilidad);
                        if (nuevoValorUtilidad >= porcentajeMinimoUtilidad) {
                            actualizarTotalProducto(nuevoNumeroProductoDuplicado, nuevoValorUtilidad);
                        } else {
                            alert(`El porcentaje de utilidad debe ser al menos ${porcentajeMinimoUtilidad}%`);
                        }
                    }
                }
            }, 300);
        });


         nuevoProductoDuplicado.querySelectorAll('button').forEach(button => {
            const originalOnClick = button.getAttribute('onclick');
            button.setAttribute('onclick', originalOnClick.replace(/\d+/, nuevoNumeroProductoDuplicado));
            console.log('Updated onclick for button:', button, button.getAttribute('onclick'));
        });

        // Añadir manejador de eventos para cambios en las cantidades
        nuevoProductoDuplicado.querySelectorAll('.cantidad').forEach(input => {
            input.addEventListener('change', function() {
                actualizarTotalProducto(nuevoNumeroProductoDuplicado);
            });
        });

        // Modificación para manejar eventos en el producto duplicado
        nuevoProductoDuplicado.querySelectorAll('.confirmar-producto-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                const seleccionItemsContainer = document.getElementById(`seleccion-items-container-${nuevoNumeroProductoDuplicado}`);
                seleccionItemsContainer.style.display = 'none';
            });
        });

        nuevoProductoDuplicado.querySelectorAll('.editar-producto-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                const seleccionItemsContainer = document.getElementById(`seleccion-items-container-${nuevoNumeroProductoDuplicado}`);
                seleccionItemsContainer.style.display = 'block';
            });
        });

        nuevoProductoDuplicado.querySelectorAll('.eliminar-producto-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                const producto = document.getElementById(`producto-${nuevoNumeroProductoDuplicado}`);
                numerosEliminados.push(parseInt(nuevoNumeroProductoDuplicado, 10)); // Añadir el número del producto eliminado al array
                producto.remove();
                actualizarNumeroProducto(); // Actualizar el número de producto visible
                actualizarTotalProducto(nuevoNumeroProductoDuplicado); // Actualizar el total del producto
            });
        });

        // Botón para Agregar Ítems
        const btnAgregarItemTemporal = nuevoProductoDuplicado.querySelector(`#btnAgregarItemTemporal-${nuevoNumeroProductoDuplicado}`);
        if (btnAgregarItemTemporal) {
            btnAgregarItemTemporal.addEventListener('click', function() {
                agregarItemTemporal(nuevoNumeroProductoDuplicado);
            });
        }

        const agregarItemsSeleccionadosBtn = nuevoProductoDuplicado.querySelector(`button[onclick^="agregarItemsSeleccionados"]`);
        if (agregarItemsSeleccionadosBtn) {
            agregarItemsSeleccionadosBtn.setAttribute('onclick', `agregarItemsSeleccionados(${nuevoNumeroProductoDuplicado})`);
        }
    }
});

document.addEventListener('DOMContentLoaded', function() {
    actualizarNumeroProducto();
});

            // Función para agregar ítems temporales
            function agregarItemTemporal(productoId) {
                const descripcion = document.getElementById(`nuevo-item-descripcion-${productoId}`).value.trim();
                const precioInput = document.getElementById(`nuevo-item-precio-${productoId}`).value.trim();
                
                // Convertir el precio a formato numérico
                const precio = parseFloat(precioInput.replace(/\./g, '').replace(/,/g, '.'));
            
                if (isNaN(precio)) {
                    alert("El precio ingresado no es válido. Asegúrese de usar el formato correcto.");
                    return;
                }
            
                const cantidad = parseInt(document.getElementById(`nuevo-item-cantidad-${productoId}`).value.trim(), 10);
            
                if (!descripcion || isNaN(precio) || isNaN(cantidad) || cantidad <= 0 || !productoId) {
                    alert("Por favor, ingrese una descripción, precio, cantidad y seleccione un producto.");
                    return;
                }
            
                fetch('/agregar_item_temporal', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        descripcion: descripcion,
                        precio: precio,
                        aprobado: false,
                        producto_id: productoId
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Agregar el ítem al contenedor del producto
                        const contenedor = document.getElementById(`itemsseleccionados-${productoId}`);
                        const nuevaFila = document.createElement('tr');
                        const total = precio * cantidad;
                        nuevaFila.innerHTML = `
                            <td>${data.item_id}</td>
                            <td>Temporales</td>
                            <td>${descripcion}</td>
                            <td>Unidad</td>
                            <td>${formatearNumero(precio)}</td>
                            <td><input type="number" class="cantidad" value="${cantidad}" min="1" onchange="actualizarTotalProducto(${productoId})"></td>
                            <td class="total">${formatearNumero(total)}</td>
                            <td class="oculto">Temporal</td>
                        <button onclick="eliminarItemTemporal(this, ${data.item_id}, ${productoId})">Eliminar</button>

                        `;
                        contenedor.appendChild(nuevaFila);
            
                        limpiarFormularioTemporal(productoId);
                        // Actualizar total del producto
                        actualizarTotalProducto(productoId);
                    } else {
                        alert('Error al agregar el ítem temporal: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
            
            
            function limpiarFormularioTemporal(productoId) {
                document.getElementById(`nuevo-item-descripcion-${productoId}`).value = '';
                document.getElementById(`nuevo-item-precio-${productoId}`).value = '';
                document.getElementById(`nuevo-item-cantidad-${productoId}`).value = '1';
            }
            
            
            

// Función para agregar ítems seleccionados y temporales al producto
function agregarItemAlProducto(item, itemNumber) {
    const itemsSeleccionadosContainer = document.getElementById(`itemsseleccionados-${itemNumber}`);
    const materiaPrimaContainer = document.getElementById(`materiaprima-${itemNumber}`);
    const consumiblesContainer = document.getElementById(`consumibles-${itemNumber}`);
    const serviciosContainer = document.getElementById(`servicios-${itemNumber}`);
    const manoDeObraContainer = document.getElementById(`manodeobra-${itemNumber}`);
    const transporteContainer = document.getElementById(`transporte-${itemNumber}`);
    
    const idsSeleccionados = new Set();
    document.querySelectorAll(`#itemsseleccionados-${itemNumber} tr`).forEach(fila => {
        const itemId = fila.querySelector('td:first-child').textContent;
        idsSeleccionados.add(itemId);
    });

    const itemId = item.id;
    if (idsSeleccionados.has(itemId)) {
        mostrarNotificacion(`El ítem con ID ${itemId} ya ha sido agregado.`, 'warning');
        return;
    }
    
    const itemGrupo = item.tipo;
    const itemDescripcion = item.descripcion;
    const itemUnidad = "Unidad"; // Puedes ajustar esto según sea necesario
    const itemPrecio = item.precio;
    
    // Contar el número de inputs de cantidad
    const cantidadInputs = document.querySelectorAll(`#cantidadUnidades .cantidad-input`);
    const cantidadCount = cantidadInputs.length;
    
    // Crear las celdas de cantidad y total dinámicamente
    const cantidadCeldas = Array.from({ length: cantidadCount }, (_, i) => 
        `<td><input type="number" min="1" value="1" class="cantidad" data-index="${i}" onchange="actualizarTotalProducto(${itemNumber})"></td>`
    ).join('');
    
    const totalCeldas = Array.from({ length: cantidadCount }, () => 
        `<td class="total">0</td>`
    ).join('');
    
    const nuevaFila = document.createElement('tr');
    nuevaFila.innerHTML = `
        <td>${itemId}</td>
        <td>${itemGrupo}</td>
        <td>${itemDescripcion}</td>
        <td>${itemUnidad}</td>
        <td>${itemPrecio}</td>
        ${cantidadCeldas}
        ${totalCeldas}
        <td class="oculto">${itemGrupo}</td>
        <td><button onclick="eliminarItemSeleccionado(this)">Eliminar</button></td>
    `;
    
    let container;
    switch (itemGrupo) {
        case 'Materia Prima':
            container = materiaPrimaContainer;
            break;
        case 'Consumibles':
            container = consumiblesContainer;
            break;
        case 'Servicios':
            container = serviciosContainer;
            break;
        case 'Mano de obra e instalacion':
            container = manoDeObraContainer;
            break;
        case 'Transportes':
            container = transporteContainer;
            break;
        default:
            container = itemsSeleccionadosContainer; // Para ítems temporales u otros tipos
            break;
    }
    
    // Añadir encabezado si aún no existe
    if (container && !container.querySelector('.tipo-header')) {
        const headerRow = document.createElement('tr');
        headerRow.innerHTML = `<td colspan="${5 + cantidadCount * 2}" class="tipo-header"><strong>${itemGrupo}</strong></td>`;
        container.appendChild(headerRow);
    }
    
    // Añadir la nueva fila a la tabla
    container.appendChild(nuevaFila);
    idsSeleccionados.add(itemId);
    
    mostrarNotificacion('Ítem agregado correctamente.', 'success');
}


    
    function actualizarNumeroProducto() {
        const itemNumberDiv = document.getElementById('itemNumber');
        if (itemNumberDiv) {
            if (numerosEliminados.length > 0) {
                itemNumberDiv.textContent = Math.min(...numerosEliminados).toString();
            } else {
                itemNumberDiv.textContent = (itemNumber + 1).toString();
            }
        }
    }

    function cargarItemsProducto(productoId, itemNumber, pagina, busqueda) {
        fetch(`/items_por_producto/${productoId}?pagina=${pagina}&busqueda=${busqueda}`)
            .then(response => response.json())
            .then(data => {
                const items = data.items;
                const totalPaginas = data.totalPaginas;
                const seleccionItemsContainer = document.getElementById(`seleccion-items-${itemNumber}`);
                const paginacionContainer = document.getElementById(`paginacion-items-${itemNumber}`);
    
                seleccionItemsContainer.innerHTML = '';
    
                const table = document.createElement('table');
                table.innerHTML = `
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>Grupo</th>
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Precio</th>
                            <th class="oculto">Tipo</th> 
                        </tr>
                    </thead>
                    <tbody>
                        ${items.map(item => `
                            <tr>
                                <td><input type="checkbox" id="item-${item.id}-${itemNumber}" value="${item.id}"></td>
                                <td>${item.categoria}</td>
                                <td>${item.descripcion}</td>
                                <td>${item.unidad}</td>
                                <td>${item.precio !== null ? item.precio : 'SIN PRECIO'}</td>
                                <td class="oculto">${item.tipo}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                `;
                seleccionItemsContainer.appendChild(table);
    
                paginacionContainer.innerHTML = '';
                const maxPagesToShow = 5;
                const half = Math.floor(maxPagesToShow / 2);
                let startPage = Math.max(1, pagina - half);
                let endPage = Math.min(totalPaginas, pagina + half);
    
                if (pagina - half < 1) {
                    endPage = Math.min(totalPaginas, endPage + (half - pagina + 1));
                }
                if (pagina + half > totalPaginas) {
                    startPage = Math.max(1, startPage - (pagina + half - totalPaginas));
                }
    
                if (pagina > 1) {
                    const firstButton = document.createElement('button');
                    firstButton.textContent = '<<';
                    firstButton.addEventListener('click', () => cargarItemsProducto(productoId, itemNumber, 1, busqueda));
                    paginacionContainer.appendChild(firstButton);
    
                    const prevButton = document.createElement('button');
                    prevButton.textContent = '<';
                    prevButton.addEventListener('click', () => cargarItemsProducto(productoId, itemNumber, pagina - 1, busqueda));
                    paginacionContainer.appendChild(prevButton);
                }
    
                for (let i = startPage; i <= endPage; i++) {
                    const button = document.createElement('button');
                    button.textContent = i;
                    button.disabled = i === pagina;
                    button.addEventListener('click', () => cargarItemsProducto(productoId, itemNumber, i, busqueda));
                    paginacionContainer.appendChild(button);
                }
    
                if (pagina < totalPaginas) {
                    const nextButton = document.createElement('button');
                    nextButton.textContent = '>';
                    nextButton.addEventListener('click', () => cargarItemsProducto(productoId, itemNumber, pagina + 1, busqueda));
                    paginacionContainer.appendChild(nextButton);
    
                    const lastButton = document.createElement('button');
                    lastButton.textContent = '>>';
                    lastButton.addEventListener('click', () => cargarItemsProducto(productoId, itemNumber, totalPaginas, busqueda));
                    paginacionContainer.appendChild(lastButton);
                }
    
                const buscador = document.getElementById(`buscar-item-${itemNumber}`);
                buscador.addEventListener('input', debounce(() => {
                    const busqueda = buscador.value;
                    cargarItemsProducto(productoId, itemNumber, 1, busqueda);
                }, 300));
            });
    }
    
    

    function agregarItemsSeleccionados(itemNumber) {
        const itemsSeleccionados = document.querySelectorAll(`#seleccion-items-${itemNumber} input[type="checkbox"]:checked`);        
        const materiaPrimaContainer = document.getElementById(`materiaprima-${itemNumber}`);
        const consumiblesContainer = document.getElementById(`consumibles-${itemNumber}`);
        const serviciosContainer = document.getElementById(`servicios-${itemNumber}`);
        const manoDeObraContainer = document.getElementById(`manodeobra-${itemNumber}`);
        const transporteContainer = document.getElementById(`transporte-${itemNumber}`);
        
        const idsSeleccionados = new Set();
        document.querySelectorAll(`#itemsseleccionados-${itemNumber} tr`).forEach(fila => {
            const itemId = fila.querySelector('td:first-child').textContent;
            idsSeleccionados.add(itemId);
        });
    
        itemsSeleccionados.forEach(itemCheckbox => {
            const itemId = itemCheckbox.value;
            if (idsSeleccionados.has(itemId)) {
                mostrarNotificacion(`El ítem con ID ${itemId} ya ha sido agregado.`, 'warning');
                return;
            }
    
            const itemGrupo = itemCheckbox.closest('tr').querySelector('td:nth-child(2)').textContent;
            const itemDescripcion = itemCheckbox.closest('tr').querySelector('td:nth-child(3)').textContent;
            const itemUnidad = itemCheckbox.closest('tr').querySelector('td:nth-child(4)').textContent;
            const itemPrecio = itemCheckbox.closest('tr').querySelector('td:nth-child(5)').textContent;
            const itemTipo = itemCheckbox.closest('tr').querySelector('td:nth-child(6)').textContent;
    
            const nuevaFila = document.createElement('tr');
            nuevaFila.innerHTML = `
                <td>${itemId}</td>
                <td>${itemGrupo}</td>
                <td>${itemDescripcion}</td>
                <td>${itemUnidad}</td>
                <td>${itemPrecio}</td>
                <td><input type="number" min="0" step="1" value="1" class="cantidad" onchange="actualizarTotalProducto(${itemNumber})"></td>
                <td class="total">0</td>
                <td class="oculto">${itemTipo}</td>
                <td><button onclick="eliminarItemSeleccionado(this)">Eliminar</button></td>
            `;
    
            let container;
            switch (itemTipo) {
                case 'Materia Prima':
                    container = materiaPrimaContainer;
                    break;
                case 'Consumibles':
                    container = consumiblesContainer;
                    break;
                case 'Servicios':
                    container = serviciosContainer;
                    break;
                case 'Mano de obra e instalacion':
                    container = manoDeObraContainer;
                    break;
                case 'Transportes':
                    container = transporteContainer;
                    break;
                default:
                    console.error('Tipo de ítem desconocido:', itemTipo);
                    return;
            }
    
            // Añadir encabezado si aún no existe
            if (container && !container.querySelector('.tipo-header')) {
                const headerRow = document.createElement('tr');
                headerRow.innerHTML = `<td colspan="9" class="tipo-header"><strong>${itemTipo}</strong></td>`;
                container.appendChild(headerRow);
            }
    
            container.appendChild(nuevaFila);
            idsSeleccionados.add(itemId);
            actualizarTotalProducto(itemNumber);
        });
    
        mostrarNotificacion('Ítems agregados correctamente.', 'success');
    }
    
    
    
    function actualizarTotalProducto(itemNumber, nuevoValorUtilidad = null) {
        const contenedores = [
            document.getElementById(`materiaprima-${itemNumber}`),
            document.getElementById(`consumibles-${itemNumber}`),
            document.getElementById(`servicios-${itemNumber}`),
            document.getElementById(`manodeobra-${itemNumber}`),
            document.getElementById(`transporte-${itemNumber}`),
            document.getElementById(`itemsseleccionados-${itemNumber}`)
        ];
    
        let total = 0;
    
        contenedores.forEach(container => {
            if (container) {
                const filas = container.querySelectorAll('tr');
    
                filas.forEach(fila => {
                    const precioElement = fila.querySelector('td:nth-child(5)');
                    const cantidadElement = fila.querySelector('input.cantidad');
    
                    if (precioElement && cantidadElement) {
                        let precioTexto = precioElement.textContent.trim();
                        let cantidadTexto = cantidadElement.value.trim();
    
                        precioTexto = precioTexto.replace(/\./g, '').replace(/,/g, '.');
                        const precio = parseFloat(precioTexto);
                        const cantidad = parseFloat(cantidadTexto);
    
                        if (!isNaN(precio) && !isNaN(cantidad)) {
                            const subtotal = precio * cantidad;
                            fila.querySelector('.total').textContent = formatearNumero(subtotal);
                            total += subtotal;
                        } else {
                            console.error('Error: Precio o cantidad no son números válidos');
                        }
                    } else {
                        console.error('Error: Elemento de precio o cantidad no encontrado');
                    }
                });
            } else {
                console.error('Error: Contenedor no encontrado', container);
            }
        });
    
        const costoDirectoElement = document.getElementById(`costo-directo-${itemNumber}`);
        if (costoDirectoElement) {
            costoDirectoElement.textContent = `Costo Directo: ${formatearNumero(total)}`;
        } else {
            console.error('Error: Elemento de costo directo no encontrado');
        }
    
        // Obtener la cantidad de unidades del producto
        const cantidadUnidades = document.getElementById('cantidadUnidades').value || 1;
    
        // Calcular y actualizar los totales extras
        actualizarTotalesExtras(itemNumber, total, nuevoValorUtilidad, cantidadUnidades);
    }
        
        
        function calcularPorcentaje(valor, porcentaje) {
            return (valor * porcentaje) / 100;
        }
        
        function actualizarTotalesExtras(itemNumber, costoDirecto, nuevoValorUtilidad = null,cantidadUnidades) {
            const productoElement = document.querySelector(`#producto-${itemNumber}`);
            if (productoElement) {
                const administracionPorcentaje = parseFloat(productoElement.dataset.administracion);
                const imprevistosPorcentaje = parseFloat(productoElement.dataset.imprevistos);
                const utilidadPorcentaje = nuevoValorUtilidad !== null ? nuevoValorUtilidad : parseFloat(productoElement.dataset.utilidad);
        
                const administracion = calcularPorcentaje(costoDirecto, administracionPorcentaje);
                const imprevistos = calcularPorcentaje(costoDirecto, imprevistosPorcentaje);
                const utilidad = calcularPorcentaje(costoDirecto, utilidadPorcentaje);
        
                const ofertaAntesIva = costoDirecto + administracion + imprevistos + utilidad;
                const iva = calcularPorcentaje(ofertaAntesIva, 19);
                const valorOferta = ofertaAntesIva + iva;
                const costoUnitario = costoDirecto / cantidadUnidades;


                document.getElementById(`costo-unitario-${itemNumber}`).textContent= `Costo Unitario :  ${formatearNumero(costoUnitario)}`;
                document.getElementById(`administracion-${itemNumber}`).textContent = `Administración (${administracionPorcentaje}%): ${formatearNumero(administracion)}`;
                document.getElementById(`imprevistos-${itemNumber}`).textContent = `Imprevistos (${imprevistosPorcentaje}%): ${formatearNumero(imprevistos)}`;
                document.getElementById(`utilidad-${itemNumber}`).textContent = `Utilidad (${utilidadPorcentaje}%): ${formatearNumero(utilidad)}`;
                document.getElementById(`oferta-antes-iva-${itemNumber}`).textContent = `Oferta Antes De Iva: ${formatearNumero(ofertaAntesIva)}`;
                document.getElementById(`iva-${itemNumber}`).textContent = `Iva: ${formatearNumero(iva)}`;
                document.getElementById(`valor-oferta-${itemNumber}`).textContent = `Valor Oferta Impuestos Incluidos: ${formatearNumero(valorOferta)}`;
            } else {
                console.error('Error: Elemento del producto no encontrado');
            }
        }
        
        function formatearNumero(numero) {
            return numero.toLocaleString('de-DE', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }


        
    function mostrarNotificacion(mensaje, tipo) {
        const notificacion = document.createElement('div');
        notificacion.className = `notificacion ${tipo}`;
        notificacion.textContent = mensaje;
        document.body.appendChild(notificacion);
        setTimeout(() => {
            notificacion.remove();
        }, 3000);
    }
    
    

    function eliminarItemSeleccionado(button) {
        const fila = button.closest('tr');
        const itemNumber = fila.closest('tbody').id.split('-')[1];
        fila.remove();
        actualizarTotalProducto(itemNumber); // Actualizar el total del producto después de eliminar el ítem
    }

    function eliminarItemTemporal(button, itemId, itemNumber) {
        // Encuentra la fila del ítem temporal que se va a eliminar
        const fila = button.closest('tr');
        if (fila) {
            // Elimina la fila del contenedor de ítems temporales
            fila.remove();
            // Actualiza el total del producto después de eliminar el ítem
            actualizarTotalProducto(itemNumber);
        } else {
            console.error('Error: Fila no encontrada');
        }
    }
    
    

    function verTodosItems(itemNumber, pagina, busqueda) {

        console.log(`verTodosItems called for itemNumber: ${itemNumber}`);
        console.log(`Container ID: seleccion-items-${itemNumber}`);

        fetch(`/todos_los_items?pagina=${pagina}&busqueda=${busqueda}`)
            .then(response => response.json())
            .then(data => {
                const items = data.items;
                const totalPaginas = data.totalPaginas;
                const seleccionItemsContainer = document.getElementById(`seleccion-items-${itemNumber}`);
                const paginacionContainer = document.getElementById(`paginacion-items-${itemNumber}`);
    
                seleccionItemsContainer.innerHTML = '';
    
                const table = document.createElement('table');
                table.innerHTML = `
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>Grupo</th>
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Precio</th>
                            <th class="oculto">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${items.map(item => `
                            <tr>
                                <td><input type="checkbox" id="item-${item.id}-${itemNumber}" value="${item.id}"></td>
                                <td>${item.categoria}</td>
                                <td>${item.descripcion}</td>
                                <td>${item.unidad}</td>
                                <td>${item.precio !== null ? item.precio : 'SIN PRECIO'}</td>
                                <td class="oculto">${item.tipo}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                `;
                seleccionItemsContainer.appendChild(table);
    
                paginacionContainer.innerHTML = '';
                const maxPagesToShow = 5;
                const half = Math.floor(maxPagesToShow / 2);
                let startPage = Math.max(1, pagina - half);
                let endPage = Math.min(totalPaginas, pagina + half);
    
                if (pagina - half < 1) {
                    endPage = Math.min(totalPaginas, endPage + (half - pagina + 1));
                }
                if (pagina + half > totalPaginas) {
                    startPage = Math.max(1, startPage - (pagina + half - totalPaginas));
                }
    
                if (pagina > 1) {
                    const firstButton = document.createElement('button');
                    firstButton.textContent = '<<';
                    firstButton.addEventListener('click', () => verTodosItems(itemNumber, 1, busqueda));
                    paginacionContainer.appendChild(firstButton);
    
                    const prevButton = document.createElement('button');
                    prevButton.textContent = '<';
                    prevButton.addEventListener('click', () => verTodosItems(itemNumber, pagina - 1, busqueda));
                    paginacionContainer.appendChild(prevButton);
                }
    
                for (let i = startPage; i <= endPage; i++) {
                    const button = document.createElement('button');
                    button.textContent = i;
                    button.disabled = i === pagina;
                    button.addEventListener('click', () => verTodosItems(itemNumber, i, busqueda));
                    paginacionContainer.appendChild(button);
                }
    
                if (pagina < totalPaginas) {
                    
                    const nextButton = document.createElement('button');
                    nextButton.textContent = '>';
                    nextButton.addEventListener('click', () => verTodosItems(itemNumber, pagina + 1, busqueda));
                    paginacionContainer.appendChild(nextButton);
    
                    const lastButton = document.createElement('button');
                    lastButton.textContent = '>>';
                    lastButton.addEventListener('click', () => verTodosItems(itemNumber, totalPaginas, busqueda));
                    paginacionContainer.appendChild(lastButton);
                }
    
                const buscador = document.getElementById(`buscar-item-${itemNumber}`);
                buscador.addEventListener('input', debounce(() => {
                    const busqueda = buscador.value;
                    verTodosItems(itemNumber, 1, busqueda);
                }, 300));
            });
    }

    function debounce(func, wait) {
        let timeout;
        return function(...args) {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
        };
    }
</script>
</html>