<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="https://github.com/Grosso05">
    <title>Generador de catalogos</title>
    <meta name="description" content="Descargue nuestro catálogo personalizado con su propio estilo. Cree su catálogo único con su logotipo y destaque sus productos.">
    <meta name="keywords" content="catálogo, personalizado, logotipo, productos, destacar, innova publicidad">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <style>
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
    </style>
</head>

<nav>
    <ul>
      <li><a href="{{ url_for('users.login') }}">Acceso Innova</a></li>
    </ul>
</nav>

<body>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                 {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo Innova" class="logo">
            <h1>¡Descargue nuestro catalogo personalizado para su empresa!</h1>
        </header>

        <section class="instructions">
            <p>Con nuestra sencilla herramienta, puede recibir en su correo electrónico un catálogo personalizado en tan solo 3 sencillos pasos:</p>
        </section>

        <form id="catalogoForm" action="/add_watermark" method="post" enctype="multipart/form-data">
            <label for="image_file">Paso 1: Inserte o Arrastre el Logotipo Aquí:
            </label>
            <input type="file" name="image_file" id="image_file" accept=".png" required><br>


            <label for="customer_email">Paso 2: Ingrese su correo aqui:</label>
            <input type="email" name="customer_email" id="customer_email" required>

            <p>Paso 3: Haga clic en "Generar Catálogo Personalizado" y este será enviado a su correo electrónico.</p>

            <input type="submit" value="Generar Catálogo Personalizado">
        </form>

        <footer>
            <p>© 2024 Todos los derechos reservados. INNOVA PUBLICIDAD VISUAL S.A.S</p>
        </footer>
    </div>
</body>
<script>
    document.getElementById('catalogoForm').addEventListener('submit', function(event) {
        // Evitar el envío del formulario por defecto
        event.preventDefault();

        // Redirigir al usuario a la otra página inmediatamente
        window.location.href = '/generando_catalogo_index';

        // Realizar la petición al servidor para el proceso normal en segundo plano
        var formData = new FormData(this);
        fetch('/add_watermark', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                console.error('Error en la petición al servidor');
            }
        })
        .catch(error => {
            console.error('Error en la petición al servidor:', error);
        });
    });
</script>

</html>
