<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Catálogos Personalizados</title>
    <meta name="description" content="Descargue nuestro catálogo personalizado con su propio estilo. Cree su catálogo único con su logotipo y destaque sus productos.">
    <meta name="keywords" content="catálogo, personalizado, logotipo, productos, destacar, innova publicidad">
    <meta name="author" content="Brayan Grosso">


    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Your Logo" class="logo">
            <h1>¡Cree un Catálogo Personalizado con Estilo!</h1>
            <p>Descargue nuestro exclusivo catálogo con el logotipo de la empresa y destaque los productos de manera única.</p>
        </header>

        <section class="instructions">
            <h2>Personalice su Experiencia</h2>
            <p>Con nuestro sencillo Personalizador de Catálogos, puede agregar el logotipo en solo dos pasos:</p>
        </section>

        <form action="/add_watermark" method="post" enctype="multipart/form-data">
            <label for="image_file">Paso 1: Inserte o Arrastre el Logotipo Aquí:</label>
            <input type="file" name="image_file" id="image_file" accept=".png"><br>

            <p>Paso 2: Haga clic en "Generar Catálogo Personalizado" e inmediatamente iniciara su descarga.</p>

            <input type="submit" value="Generar Catálogo Personalizado">
        </form>

        <footer>
            <p>© 2024 Todos los derechos reservados. INNOVA PUBLICIDAD VISUAL S.A.S</p>
        </footer>
    </div>
</body>
</html>
