<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Panel de Administrador</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #b9b9b9;
        }
    </style>

</head>
<body>


    {% include 'navbar.html' %}

    {% include 'sidebar.html' %}


            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <h1>Lista de Usuarios</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.user_id }}</td>
            <td>{{ usuario.user_name }}</td>
            <td>{{ usuario.user_last_name }}</td>
            <td>{{ usuario.user_email }}</td>
            <td>
                <button onclick="editarUsuario({{ usuario.user_id }} )">Editar</button>
                <button onclick="eliminarUsuario({{ usuario.user_id }})">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </table>
            </main>
        </div>
    </div>

    {% include 'footer.html' %}

    <script>
        function editarUsuario(userId) {
            window.location.href = '/editar_usuario/' + userId;  // Redirige a la ruta de edición del usuario con su ID
        }

        function eliminarUsuario(userId) {
    if (confirm('¿Estás seguro de que deseas eliminar este usuario?')) {
        // Enviar una solicitud al servidor para eliminar al usuario
        fetch('/delete_user/' + userId, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                // Recargar la página después de eliminar al usuario
                location.reload();
            } else {
                // Manejar el caso en el que la eliminación del usuario falle
                console.error('Error al eliminar el usuario');
            }
        })
        .catch(error => {
            console.error('Error al eliminar el usuario:', error);
        });
    }
}

        </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>