<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
.sidebar {
  width: 250px; /* Ancho inicial de la barra lateral */
  transition: width 0.5s; /* Agregar transición para un efecto suave al cambiar el ancho */
}

.sidebar.active {
  width: 0; /* Ocultar la barra lateral al cambiar el ancho a 0 */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #DC0070;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
}


    </style>
</head>



<div class="sidebar">

    <div class="close-button" onclick="toggleSidebar()">X</div> 

    <div class="logo">
        <img src="{{ url_for('static', filename='images/LOGO_WHITE.png') }}" alt="Your Logo" class="logo">
    </div>
    <hr class="sidebar-divider">
    <ul class="list-unstyled components">
        <li>
            <a href="{{ url_for('routes.admin') }}">
                <i class="fas fa-home"></i> Inicio
            </a>
        </li>
        <div class="sidebar-header">
            <h6> Apartado de Gestiones </h6>
        </div>


        
        <li class="dropdown">
            <a  class="dropdown-toggle" onclick="toggleDropdown('sub-components-1')">
                <i class="fas fa-users"></i> Gestion de Usuarios
            </a>
            <ul id="sub-components-1" class="list-unstyled sub-components">
                <li>
                    <a href="{{ url_for('users.listar_usuarios') }}">
                        <i class="fas fa-eye"></i> Ver Usuarios
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('users.crear_usuario') }}">
                        <i class="fas fa-user-plus"></i> Crear Usuario
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ url_for('customers.listar_clientes') }}">
                <i class="fas fa-handshake"></i> Gestion de Clientes
            </a>
        </li>
        <li>
        </li>
        <div class="sidebar-header">
            <h6> Apartado Principal </h6>
        </div>
        <li>
            <a href="{{ url_for('routes.generar_catalogo') }}">
                <i class="fas fa-brush"></i> Generar Catalogo
            </a>
        </li>

        <li class="dropdown">
            <a  class="dropdown-toggle" onclick="toggleDropdown('sub-components-2')">
                <i class="fas fa-receipt"></i> Gestion de Cotizaciones
            </a>
            <ul id="sub-components-2" class="list-unstyled sub-components">
                <li>
                    <a href="{{ url_for('routes.listar_cotizaciones') }}">
                        <i class="fas fa-eye"></i> Ver Cotizaciones
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.generar_cotizacion') }}">
                        <i class="fas fa-plus"></i> Crear Cotizacion
                    </a>
                </li>
            </ul>
        </li>

        <div class="navbar_logout">
            <a href="{{ url_for('users.logout') }}">Cerrar sesión</a>
          </div>

    </ul>
</div>

<footer>
    <script>
        function toggleDropdown(id) {
            var dropdown = document.getElementById(id);
            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                dropdown.style.display = "block";
            }
        }

        // Función para contraer el sidebar
function collapseSidebar() {
  const sidebar = document.querySelector('.sidebar');
  const content = document.querySelector('.content');

  sidebar.classList.add('collapsed');
  content.style.marginLeft = '80px'; // Ajusta el margen izquierdo del contenido
  content.style.width = 'calc(100% - 80px)'; // Ajusta el ancho del contenido en función del ancho del sidebar contraído
}

// Función para expandir el sidebar
function expandSidebar() {
  const sidebar = document.querySelector('.sidebar');
  const content = document.querySelector('.content');

  sidebar.classList.remove('collapsed');
  content.style.marginLeft = '250px'; // Restaura el margen izquierdo del contenido
  content.style.width = 'calc(100% - 250px)'; // Restaura el ancho del contenido en función del ancho del sidebar expandido
}
    </script>
</footer>